p{
    background-color: yellow;
    display: flex;
    align-items: left;
    justify-content: top;
    font-size: 30px;
    margin:0;
    height: 60px;
    width: 100px;
}

    }
    font color-scheme: blue;
    margin: 2px
    padding: 1px
    box-sizing: border-box
    font-family: monospace
    border-radius: 1rem

.btn-grid{
    display: grid;
}

.btn {
    background-color: green;
}

.btn:hover {
    color: yellow
}
